<div>
    <label for="id_first_name">First name:</label>



<input type="text" name="first_name" value="Sudharshan Raju" maxlength="25" required id="id_first_name">

</div>

  <div>
    <label for="id_last_name">Last name:</label>



<input type="text" name="last_name" value="Battala" maxlength="25" required id="id_last_name">

</div>

  <div>
    <label for="id_course_name">Course name:</label>



<input type="text" name="course_name" value="python" maxlength="25" required id="id_course_name">

</div>

  <div>
    <label for="id_email">Email:</label>

<input type="email" name="email" value="bsudharshan404@gmail.com" maxlength="254" required id="id_email">

</div>

  <div>
    <label for="id_joining_date">Joining date:</label>



<input type="text" name="joining_date" value="12/12/2023" required id="id_joining_date">

</div>

  <div>
    <label for="id_contact_number">Contact number:</label>



<input type="text" name="contact_number" value="09392486441" maxlength="15" required id="id_contact_number">



</div>